
html {
	font-family : sans-serif ;
}


body{
  padding-top : 20px;
}
	

.header{
  color : #00d9fb ;
	margin-bottom : 30px;
	text-decoration : underline ;
}
	

.input, .output 
{
  max-width : 100% ;
	width : 100% ;

}
	
.input {
  height : 520px ;
}
	
